.verifyEmail {
  background-color: var(--bg-color);
  min-height: calc(100vh - 70px);
  .verifyEmail_wrap {
    margin: 0 auto;
    width: 576px;
    padding-top: 70px;
  }
  .verifyEmail_modal {
    padding: 2rem 1rem;
    border-radius: var(--border-radius);
    background-color: var(--white-color);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);

    .text {
      color: var(--white-color);
      font-size: 18px;
    }

    .input {
      width: 100%;
      padding: 0.25rem;
      margin: 1rem 0;
    }

    

    .confirm {
      display: flex;
      justify-content: flex-end;
      button {
        background-color: var(--primary-color);
        color: var(--white-color);
        border: none;
        border-radius: var(--border-radius);
        height: 2.5rem;
      }
    }

     button {
        background-color: var(--primary-color);
        color: var(--white-color);
        border: none;
        border-radius: var(--border-radius);
        height: 2.5rem;
        width: 6rem;
      }
  }
}
