.viewCv {
    margin: 2rem 0;
  padding: 3rem;
  border-radius: var(--border-2x-radius);
  background-color: var(--white-color);
  .viewCv_wrap {
    .title {
       text-transform: uppercase;
      font-size: 1.125rem;
      font-weight: bold;    
      line-height: 1.22; 
      text-align: left;
      color: var(--black-color);
      margin-bottom: 1rem;
      text-decoration: underline;
    }
  }
}