.infoHeader {
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  position: relative;
  height: 20rem;
  .infoHeader_wrap {
    height: 13.5rem;
    background: url("/assets/images/banners/company.png") no-repeat bottom center;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }
  .header_title {
    padding: 3rem;
    font-size: 1.25rem;
    color: var(--white-color);
    font-weight: 500;
  }
  .header_main {
    position: absolute;
    bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    padding: 0 3rem;

    & > div {
      display: flex;
      gap: 2rem;
    }

    .header_avatar {
      img {
        cursor: pointer;
        width: 8.5rem;
        border: 1px dotted var(--secondary-color);
        border-radius: 50%;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .name {
        font-size: 1.5rem;
        font-weight: 600;
        max-width: 30rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        a {
          color: var(--white-color);
          display: inline-block;
        }
      }
      .shortName {
        height: 1.5rem;
        color: #888;
      }
      .verify {
        display: flex;
        align-items: center;
      }
    }

    .action {
      display: flex;
      flex-direction: column-reverse;
      .action_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
      }
      .status {
        span {
          margin-right: 0.5rem;
        }
      }
      .cv_upload {
        cursor: pointer;
        padding: 0.375rem 1rem;
        border: solid 1px var(--primary-color);
        border-radius: var(--border-radius);
        color: var(--primary-color);
        img {
          margin-right: 0.5rem;
        }
      }
    }
  }
}

@media screen and(max-width: 992px) {
  .infoHeader {
    .header_main {
      .action {
        .action_inner {
          flex-direction: column;
          .status {
            border-radius: var(--border-2x-radius);
            padding: 0.5rem 1rem;
            background-color: white;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 768px) {
  .infoHeader {
    height: 15rem;
    .infoHeader_wrap {
      height: 8rem;
      .header_title {
        padding: 1rem;
      }
    }

    .header_main {
      bottom: 1rem;
      padding: 0 1rem;
      flex-direction: column;
      gap: 0.5rem;
      & > div {
        display: flex;
        gap: 1rem;
      }

      .header_avatar {
        width: 6rem;
        img {
          width: 100%;
          border: 1px dotted var(--secondary-color);
          border-radius: 50%;
        }
      }

      .info {
        .name {
          font-size: 1.25rem;
        }
      }

      .action {
        .action_inner {
          flex-direction: row;
          gap: 1rem;
          .status {
            padding: 0;
            background-color: transparent;
          }
          .cv_upload {
          }
        }
      }
    }
  }
}
