
// nprogress style

#nprogress .bar {
  background: var(--secondary-color) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--secondary-color), 0 0 5px var(--secondary-color);
}

#nprogress .spinner .spinner-icon {
  display: none;
}
