.post {
  .active_item {
    border: 1px solid var(--primary-color) !important;
  }
  &_inner {
    background-color: var(--white-color);
    padding: 20px;
    margin-bottom: 1rem;
    color: var(--black-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-2x-radius);
    // box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    // &:hover {
    //   box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    // }
  }
  &_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    cursor: auto;
    position: relative;
    &_left {
      display: flex;
      align-items: center;
      .avatar {
        width: 85px;
        height: 85px;
        object-fit: cover;
        margin-right: 15px;
        border-radius: 6px;
        border: 1px solid var(--gray-color);
        // padding: 4px
      }
    }
    &_id {
      padding: 0.25rem 1rem;
      border-radius: 0.5rem;
      color: var(--white-color);
    }
    &_icon {
      margin: 0 1rem;
      display: flex;
      gap: 1rem;
      img {
        margin-bottom: 0.25rem;
        width: 1rem;
        height: 1rem;
      }
    }
    &_urgent,
    &_hot {
      color: var(--red-color);
      img {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.5rem;
      }
    }
    &_options {
      position: absolute;
      top: 0px;
      right: 0;
    }
    .title {
      font-weight: 500;
      font-size: 16px;
      padding: 0.25rem 0;
      color: var(--black-color);
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .verification {
      img {
        margin-right: 5px;
      }
      color: #b5b5b5;
    }
  }

  &_body,
  &_footer {
    padding: 0.5rem 0;

    &_item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      img {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }
  &_body {
    border-bottom: 1px solid var(--gray-color);

    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }

  &_footer {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }
}

.btn {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  &_1 {
    border: none;
    margin: 5px;
    border-radius: 10px;
    background-color: rgba(114, 192, 12, 0.836);
    color: var(--white-color);
  }
  &_2 {
    border: none;
    margin: 5px;
    border-radius: 10px;
    background-color: rgba(31, 174, 199, 0.822);
    color: var(--white-color);
  }
  &_3 {
    border: none;
    margin: 5px;
    border-radius: 10px;
    background-color: rgba(31, 62, 199, 0.822);
    color: var(--white-color);
  }
  &_4 {
    border: none;
    margin: 5px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.651);
    color: var(--white-color);
  }
}

.custom_modal {
  width: 100%;
  border-radius: 10px;
  background-color: var(--primary-color);
  height: 44px;
  color: var(--white-color);
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.modal_service {
  margin: 20px 0;
  padding: 0 20px;
  .item {
    .title {
      font-size: 1.125rem;
      font-weight: bold;
      color: var(--black-color);
    }
    .count {
      font-size: 1rem;
      font-weight: bold;
      color: var(--primary-color);
    }
  }
  .btn {
    border: none;
    background-color: #30ac11;
    border-radius: 6px;
    color: var(--white-color);
  }
}
.options {
  :hover {
    color: white !important;
    background: var(--secondary-color);
    border-radius: 50%;
  }
  
}
