.main {
  min-height: calc(100vh - 5rem);
  .main_wrap {
    max-width: 1140px;
    margin: 30px auto;
    padding: 2rem 0;
    background: white;
  }
  .main_navigator {
    padding: 1rem 0;
    .navigator_tab {
      display: flex;
      align-items: center;
      background-color: #efe5fd;
      border-radius: 20px;
      height: 3rem;
      position: relative;
      max-width: 1150px;
      margin: 0 auto;

      .navigator_overlay {
        margin-left: 1rem;
        height: 2rem;
        background-color: white;
        border-radius: 20px;
        display: inline-block;
        position: absolute;
        transition: transform 0.25s ease-in-out;
      }

      .tab_tab {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1rem;
        cursor: pointer;
        span {
          color: #6e00c2;
          font-size: 1.125rem;
          z-index: 1;
        }
      }
    }
  }
  .service_main {
    max-width: 1140px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 992px) {
  
}

@media screen and (max-width: 768px) {
  .main {
    // min-width: 0px;
  }
}

@media screen and (max-width: 480px) {
  .main {
    .main_wrap {
      // padding: 1rem 0;
    }
  }
}
